if path == '/chatroom'
  script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.6.0/socket.io.min.js")
  //- inject:js
  //- endinject
  //- piwik
  if piwik_url
    // Piwik
    script(type="text/javascript").
      var _paq = _paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="#{piwik_url}/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '#{piwik_id}']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    noscript
      p
        img(src=`${piwik_url}/piwik.php?idsite=${piwik_id}` style="border:0;" alt="")
    // End Piwik Code
